<section class="customer-ref-container">
  <div class="container">
    <div class="customer-ref-wrapper">
      <h4>
        Was meine Schützlinge
        <br>
        davon halten.
      </h4>
    </div>
  </div>

  <div class="customer-ref-slider-container">
    <div class="customer-ref-slider-top">
      @for (customer of topCustomers; track $index) {
        <app-customer-ref-card [name]="customer.name" [review]="customer.review" />
      }
    </div>
    <div class="customer-ref-slider-bottom">
      @for (customer of topCustomers; track $index) {
        <app-customer-ref-card [name]="customer.name" [review]="customer.review" />
      }
    </div>
  </div>

</section>
